extends layout

block content

  // ================ Start banner Area =================
  section.banner-area.relative
    .container
      .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6
          h1 Contact Database
          hr
          .breadcrmb
            p
              a(href='index.html') Databases
              span.lnr.lnr-arrow-right
              a(href='about.html') From  ../models
              a(href="/contactDatabase")
                li Contact
              a(href="/eventDatabase")
                li Event
              a(href="/userDatabase")
                li User

  // ============ content =====================
  section.gallery-area.section-gap.mt-172
    .container
      .row.align-items-center
        .col-lg-6.col-md-5.col-sm-6
          .single-gallery.mt--350
            table.table.table-bordered.table-hover.table-striped
              thead
                tr
                  th Contact Name
                  th Email Address
                  th Phone Number
                  th Post Message
                  th Action
              tbody
                each contact in contacts
                  tr
                    td= contact.contactName
                    td= contact.emailAddress
                    td= contact.phoneNumber
                    td= contact.postMessage
                    td
                        //a.btn.btn-sm.btn-danger(href=`/contact/delete/${contact.id}`)
                        //    i.fas.fa-trash-alt.fa-sm
                        //        p Delete
                        form(action= `/contact/delete/${contact.id}`, method='POST', onsubmit="return('Are you sure you want to delete this');")
                            .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-danger(type='submit')
                                    i.fas.fa-trash-alt.fa-sm
                                    | Delete
                        form(action= `/contact/edit/${contact.id}`, method='POST', onsubmit="return('We will edit this entry');")
                            .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-primary(type='submit')
                                    i.fas.fa-pencil-square-o.fa-sm
                                    | Edit
                        form(action= `/contact/get-report/${contact.id}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                            .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-info(type='submit')
                                    i.fas.fa-file-download.fa-sm
                                    | Save
                        form(action= `/contact/send-email/${contact.id}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                            .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-success(type='submit')
                                    i.fas.fa-paper-plane.fa-sm
                                    | Email
                tr
                  th
                  th
                  th
                      form(action= `/contact/delete-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                          .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-danger(type='submit')
                                    i.fas.fa-trash-alt.fa-sm
                                    | Delete page
                  th
                      form(action= `/contact/save-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                          .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-info(type='submit')
                                    i.fas.fa-file-download.fa-sm
                                    | Save page
                  th
                      form(action= `/contact/send-email-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                          .form-group
                                input(type='hidden', name='_csrf', value=_csrf)
                                button.btn.btn-sm.btn-success(type='submit')
                                    i.fas.fa-paper-plane.fa-sm
                                    | Email page

            nav.blog-pagination.justify-content-center.d-flex
                ul.pagination
                    if hasPreviousPage
                        li.page-item
                            a.page-link(href=`/contactDatabase/?page=${ previousPage}` aria-label='Previous')
                                span(aria-hidden='true')
                                    span.lnr.lnr-chevron-left
                    if currentPage !== 1 && previousPage !== 1
                        li.page-item
                            a.page-link(href=`/contactDatabase/?page=1`) 1
                    if hasPreviousPage
                        li.page-item
                            a.page-link(href=`/contactDatabase/?page=${ previousPage}`)= previousPage
                    li.page-item.active
                        a.page-link(href=`/contactDatabase/?page=${ currentPage}`)= currentPage
                    if hasNextPage
                        li.page-item
                            a.page-link(href=`/contactDatabase/?page=${ nextPage}`)= nextPage
                    if hasNextPage
                        li.page-item
                            a.page-link(href=`/contactDatabase/?page=${ nextPage}` aria-label='Next')
                                span(aria-hidden='true')
                                    span.lnr.lnr-chevron-right

